/*Extra small devices (portrait phones, less than 576px)*/
 @media (max-width: 575.98px) {
     .section-padding {
         padding: 60px 0;
    }
     #primary-menu {
         display: none;
    }
     .slicknav_menu {
         display: block;
    }
     .logo {
         width: 200px;
    }
     .width-360 {
         width: 100%;
    }
     .content img {
         position: static;
         margin: 0 auto;
    }
     .content {
         padding-left: 0;
    }
     .content p {
         padding: 15px;
    }
     .content p:before {
         left: 1px;
    }
     .content p:after {
         right: 5px;
         bottom: 0;
    }
     .section-title.hedding-defoult.c6 h2{
         font-size: 24px;
    }
     .h2, h2 {
         font-size: 1.25rem;
    }
     .h5, h5 {
         font-size: .75rem;
    }
     #primary-menu {
         display: none;
    }
     .slicknav_menu {
         display: block;
    }
     .logo {
         width: 200px;
    }
     .special-fetures .right-spacial .single-spacial, .special-fetures .left-spacial .single-spacial {
         padding: 0;
    }
     .special-fetures .spacial-icon {
         position: static;
         margin-bottom: 5px;
    }
     .discover-images.absulate-images .relative-image {
         margin-left: 70px;
    }
     .discover-content a {
         margin-top: 20px;
    }
	.free-trial {
		min-height: 240px;
		border-top: 1px solid #ddd;
	}
     .trial-content h2 {
         font-size: 16px;
         margin: 10px 0;
    }
     .right-spacial.choose .single-spacial:after {
         left: 11%;
    }
     .choose-images.absulate-images .absulate-image {
         max-width: 42%;
         left: 40%;
    }
     .choose-images img {
         max-width: 50%;
    }
     .screenshort-slider {
         padding: 0;
    }
     .count-area.less-top-margin-180 {
         margin-top: -60px;
    }
     .count-area .top-padding-150 {
         margin-top: 60px;
    }
     .price-head h2 {
         margin: 10px 0 0 25px;
    }
     .testimonial-info p {
         text-align: justify;
    }
     .faq-description .btn.btn-link {
         font-size: 12px;
    }
     .slide-image, .spacial-images {
         display: none;
    }
	.hero-area .single-slide {
		margin-top: 140px;
	}
	.hero-area {
		height: 500px;
	}
     .slider-title {
         font-size: 20px;
         margin-top: 0;
    }
	.slider-button .best-button {
		margin: 0 3px;
		font-size: 10px;
        padding: 5px 15px;
	}
     .slider-button .best-button i {
         left: 8px;
         top: 4px;
    }
	 .slider-button {
		margin-left: -10px;
	}
     .slider-button a:nth-child(2) {
         padding-left: 33px;
         margin: 0;
    }
     .single-feture-boxed {
         padding: 20px 20px 15px;
    }
     .left-spacial .single-spacial, .right-spacial {
         text-align: center;
    }
     .single-spacial, .single-price, .single-team, .faq-description, .single-blog {
         margin-bottom: 30px;
    }
     .special-fetures, .price-area, .blog-area {
         margin-bottom: -30px;
    }
     .discover-content p {
         margin: 0;
    }
     .discover-images, .contact-area {
         margin-top: 50px;
    }
     .speciar-100 {
         height: 30px;
    }
     .right-spacial .single-spacial {
         padding-left: 0;
    }
     .spacial-icon {
         position: static;
         margin-bottom: 15px;
    }
     .choose .single-spacial:after {
         position: static;
         display: none;
    }
     .choose .single-spacial {
         padding: 0;
    }
     .app-download-button a {
         width: auto;
         padding-left: 50px;
         margin-right: 0;
         margin-bottom: 15px;
    }
     .app-download-button a i {
         left: 5%;
    }
     .hero-area .owl-dots {
         display: none;
    }
     .choose-images.absulate-images {
         text-align: center;
    }
     .screenshort-slider .owl-nav div {
         left: 0;
    }
     .screenshort-slider .owl-nav div.owl-next {
         right: 0;
    }
     .single-count {
         margin-bottom: 20px;
    }
     .count-area {
         margin-bottom: -20px;
    }
     .footer-area.less-top-margin-200 {
         margin: 0;
    }
     .contact-form input, .contact-form textarea {
         width: 100%;
    }
     .section-padding-50.cta-area {
         padding: 0;
    }
     .footer-content.top-margin-180 {
         margin: 90px 0 0 0;
    }
     .testimonial {
         margin-top: 0;
    }
     .team-area {
         margin-top: 0;
    }
     .testimonial-info {
         padding: 30px 10px;
         padding-top: 50px;
    }
     .tastimonial-slider {
         margin: 50px 0 0;
    }
     .team-area.small-device-bg .container-inner.red-bg, .cta-area .container-inner.contact-info{
         background:none !important;
    }
	
	.breadcrumb .best-button {
		padding: 10px 17px;
	}
	.breadcrumb .post-sheare {
		padding-right: 55px;
	}
	.bulate {
		padding-left: 30px;
	}
	.page-title-banner-text h2 {
		font-size: 24px;
		margin-top: 70px;
	}
	.page-title-banner {
		padding: 25px 0px;
	}
	.page-title-banner-text .breadcrumb {
		padding: 0;
	}
	.blog-text .pagination .page-item .page-link {
		padding: 10px 15px;
	}
	.page-warper .section-padding-50.cta-area{
		padding:50px 0;
	}
	.blog-sidebar{
		margin-top:50px;
	}
	.sheare-breadcrumb p span:first-child{
		margin:0;
	}
	.ads {
		padding-top: 14px;
		margin-left: 5px;
		font-size: 11px;
	}
}
/*Small devices (landscape phones, 576px and up)*/
 @media (min-width: 640px) and (max-width: 767.98px) {
     #primary-menu {
         display: none;
    }
     .slicknav_menu {
         display: block;
    }
     .logo {
         width: 200px;
    }
     .slider-title {
         line-height: 1.1;
         font-size: 24px;
    }
     .slider-button .best-button {
         margin: 0 2px;
         font-size: 11px;
    }
     .single-feture-boxed {
         line-height: 1.6;
         padding: 20px 10px 10px;
    }
     .app-download-button a {
         width: auto;
         padding-left: 50px;
         margin-right: 0;
         margin-bottom: 15px;
    }
     .app-download-button a i {
         left: 5%;
    }
     .cta-form .cta-btn {
         width: auto;
         font-size: 10px;
    }
     .footer-area.less-top-margin-200 {
         margin: 0;
    }
     .section-padding.cta-area {
         padding-bottom: 0;
    }
     .footer-content.top-margin-180 {
         margin: 135px 0 0;
    }
     .app-download-button {
         margin-top: 15px;
    }
     .slider-title {
         margin-top: 15px;
    }
     .section-padding {
         padding: 80px 0;
    }
     .price-head {
         padding: 15px 10px;
    }
     .single-price a {
         margin-top: 0;
    }
     .tastimonial-slider {
         margin: 80px 0 0;
    }
     .content p:before {
         top: -6px;
    }
     .contact-form input, .contact-form textarea {
         width: 100%;
    }
     .team-area.small-device-bg .container-inner.red-bg, .cta-area .container-inner.contact-info{
         background:none !important;
    }
	.page-warper .section-padding-50.cta-area{
		padding:50px 0;
	}
	.blog-sidebar{
		margin-top:50px;
	}
}
/*Small devices (landscape phones, 576px and up)*/
 @media (min-width: 576px) and (max-width: 767.98px) {
     h2, .section-title.hedding-defoult.c6 h2{
         font-size: 24px;
    }
     .h5, h5 {
         font-size: .75rem;
    }
     #primary-menu {
         display: none;
    }
     .slicknav_menu {
         display: block;
    }
     .logo {
         width: 200px;
    }
     .special-fetures .right-spacial .single-spacial, .special-fetures .left-spacial .single-spacial {
         padding: 0;
    }
     .special-fetures .spacial-icon {
         position: static;
         margin-bottom: 5px;
    }
     .discover-images.absulate-images .relative-image {
         margin-left: 70px;
    }
     .discover-content a {
         margin-top: 10px;
    }
     .free-trial {
         min-height: 250px;
    }
     .trial-content h2 {
         font-size: 16px;
         margin: 10px 0;
    }
     .right-spacial.choose .single-spacial:after {
         left: 11%;
    }
     .choose-images.absulate-images .absulate-image {
         max-width: 190px;
    }
     .choose-images img {
         max-width: 90%;
    }
     .screenshort-slider {
         padding: 0;
    }
     .count-area.less-top-margin-180 {
         margin-top: -100px;
    }
     .count-area .top-padding-150 {
         margin-top: 60px;
    }
     .price-head h2 {
         font-size: 18px;
         margin: 10px 0 0 25px;
    }
     .price-head {
         height: 95px;
         padding: 15px 25px;
    }
     .single-price {
         font-size: 10px;
    }
     .team-col-custom .col-sm-3 {
         padding: 2px;
    }
     .testimonial-info p {
         text-align: justify;
    }
     .faq-description .btn.btn-link {
         font-size: 12px;
    }
}
/*Medium devices (tablets, 768px and up)*/
 @media (min-width: 768px) and (max-width: 991.98px) {
     .section-padding {
         padding: 100px 0;
    }
     .header-menu li {
         padding: 10px 1px 8px;
    }
     .slider-title {
         font-size: 21px;
    }
     .slider-button .best-button {
         margin: 0 5px;
         font-size: 10px;
         padding: 12px 25px;
    }
     .hero-area .owl-dots {
         right: 20%;
    }
     .section-title.hedding-defoult h2, .section-title.hedding-defoult.c6 h2 {
         font-size: 24px;
    }
     .single-feture-boxed h4 {
         font-size: 20px;
    }
     .trial-content h2 {
         font-size: 18px;
         margin: 10px 0;
    }
     .free-trial {
         min-height: 320px;
    }
     .right-spacial.choose .single-spacial:after {
         left: 8%;
    }
     .screenshort-slider .owl-nav div {
         left: 0;
    }
     .screenshort-slider .owl-nav div.owl-next {
         right: 0;
    }
     .count-area.less-top-margin-180 {
         margin-top: -100px;
    }
     .count-area .top-padding-150 {
         margin-top: 60px;
    }
     .team-col-custom .col-sm-3 {
         padding: 2px;
    }
     .testimonial:after {
         height: 340px;
    }
     .app-download-button a {
         width: auto;
         padding-left: 50px;
         margin-right: 0;
         margin-bottom: 15px;
    }
     .app-download-button a i {
         left: 5%;
    }
     .price-head h2 {
		font-size: 22px;
		margin: 0 0 0 15px;
	}
     .single-feture-boxed {
         padding: 10px;
    }
     .special-fetures .right-spacial .single-spacial, .special-fetures .left-spacial .single-spacial {
         padding: 0;
    }
     .special-fetures .spacial-icon {
         position: static;
         margin-bottom: 5px;
    }
     .discover-images.absulate-images .relative-image {
         margin-left: 100px;
    }
     .discover-images.absulate-images .absulate-image {
         left: 0;
    }
     .screenshort-slider {
         padding: 0 14px 0 14px;
    }
     .tastimonial-slider {
         margin: 65px 0 0;
    }
     .price-head {
         height: 145px;
    }
     .price-head:after {
         width: 80%;
         -webkit-background-size: cover;
         background-size: cover;
    }
     .single-price a {
         margin-top: 10px;
    }
	.blog-sidebar{
		margin-top:50px;
	}
}
/*Large devices (desktops, 992px and up)*/
 @media (min-width: 992px) and (max-width: 1199.98px) {
     .free-trial {
         min-height: 330px;
    }
     .price-head h2 {
         margin: 30px 0 0 30px;
    }
}
/*Large devices (desktops, 992px and up)*/
 @media (min-width: 480px) and (max-width: 639.9px) {
    .price-head {
		height: 170px;
	}
	 .price-head h2 {
		padding: 0 0 0 75px;
		margin: 0;
	}
     .price-head:after {
		 width:61%;
         right: 0;
         height: 130%;
    }
     .faq-area .right-faq {
         text-align: center;
    }
     .single-blog img {
         width: 100%;
    }
     .count-area.less-top-margin-180 {
         margin-top: -100px;
    }
	.slider-button .best-button {
		margin: 0 3px;
		padding: 5px 15px;
	}
	.slider-button .best-button i {
		left: 8px;
		top: 4px;
	}
}
/*Extra large devices (large desktops, 1200px and up)*/
 @media (min-width: 1200px) {
}
